<div class="container is-fluid">
    <div class="columns">
        <div class="column is-6">
            <a href="/">
                <img src="assets/logo-footer.svg">
            </a>
            <div class="social-links">
                <a class="button link-item"><img src="assets/facebook.svg" /></a>
                <a class="button link-item"><img src="assets/instagram.svg" /></a>
                <a class="button link-item"><img src="assets/twitter.svg" /></a>
                <a class="button link-item"><img src="assets/youtube.svg" /></a>
                <p><strong>Like our page to get updates!</strong></p>
            </div>
        </div>
        <div class="column is-new-york">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a href="/passenger">Passengers</a></li>
                    <li><a href="/">Riders</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-new-york">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a href="/terms-for-passenger">Terms and Conditions (Passenger)</a></li>
                    <li><a href="/terms-for-riders">Terms and Conditions (Riders)</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>

<div class="all-right-reserved has-text-centered">
    <p> 
        All Rights Reserved &copy; &nbsp;
        <img src="assets/logo.svg"> &nbsp;
        2019
    </p>
</div>