<div class="container is-fluid">
    <div class="columns">
        <div class="column">
        <a href="/">
            <img src="assets/logo.svg">
        </a>
        </div>
        <div class="column is-new-york">
        <aside class="menu">
            <ul class="menu-list">
                <li><a href="/passenger">Passengers</a></li>
                <li><a href="/">Riders</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </aside>
        </div>
        <div class="column is-new-york">
        <aside class="menu">
            <ul class="menu-list">
                <li><a href="/terms-for-passenger">Terms and Conditions (Passenger)</a></li>
                <li><a href="/terms-for-riders">Terms and Conditions (Riders)</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </aside>
        </div>
        <div class="column social-links">
        <p><small><strong>Like our page to get updates!</strong></small></p>
        <a class="button link-item"><img src="assets/facebook.svg" /></a>
        <a class="button link-item"><img src="assets/twitter.svg" /></a>
        <a class="button link-item"><img src="assets/instagram.svg" /></a>
        <a class="button link-item"><img src="assets/youtube.svg" /></a>
        </div>
        <div class="column is-new-york has-text-right">
        <small>All rights reserved</small>
        <a href="/">
            <img src="assets/copyright.svg">
        </a>
        </div>
    </div>
</div>