<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <img src="assets/logo.svg">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/#passengers" class="navbar-item is-new-york">
                Passenger
            </a>
            <a href="/#riders" class="navbar-item is-new-york">
                Rider
            </a>
            <a href="/faq" class="navbar-item is-new-york">
                FAQ
            </a>
            <a href="/terms-for-passenger" class="navbar-item is-new-york is-hidden-desktop">
                Terms and Conditions (Passengers)
            </a>
            <a href="/terms-for-riders" class="navbar-item is-new-york is-hidden-desktop">
                Terms and Conditions (Riders)
            </a>
            <a href="/privacy-policy" class="navbar-item is-new-york is-hidden-desktop">
                Privacy Policy
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/welcome" class="button is-link is-small">
                        <strong>Sign Up</strong>
                    </a>
                    <a href="/login" class="button is-white is-small">
                        <strong>Log In</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>
