@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";
@import "../fonts/stylesheet.css";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "SF Rounded", "Arial", sans-serif;


html, body {
    width: 100%;
    height: 100%;
    font-family: $family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "New York", "Arial", sans-serif;
}

.subtitle {
    font-size: 1.25em;
    color: #3b3b3b;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px #CBCBCB;
    border-radius: 5px;
}

.card-content {
    padding: 2rem;
    
    .card-title {
        padding-bottom: 1.5rem;
    }
}

.pre-footer {
    padding: 48px 0;

    .recaptcha {
        color: $grey;
        padding: 24px;
        font-size: 0.85rem;
        a {
            color: $grey;
        }
    }
}

.button.is-link {
    background: linear-gradient(0deg, #1560FF 0%, #6A99FF 100%);
    box-shadow: 0px 2px 4px #CBCBCB, inset 0px 1px 3px rgba(255, 255, 255, 0.64);
    border-radius: 4px;
    border: none;
}

.button.rs-btn {
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    box-shadow: 0px 2px 4px #CBCBCB;
    border-radius: 3px;
    border: none;
    height: 100%;
    padding: 12px 0;
    text-align: left;

    img {
        width: 64px;
        margin-right: 24px;
    }

    .button-text {
        line-height: 1.25;
        width: 128px;
    }

    small {
        color: $grey;
    }

    span {
        text-transform: uppercase;
    }
}

// Custom
.is-new-york {
    font-family: "New York", "Arial", sans-serif;
}

.auth-page {
    background: linear-gradient(180deg, #FFF386 0%, #FFE44E 100%);
}

.auth-page .header {
    padding: 56px 0;
}

.card-spacing {
    margin-top: 48px;
}
