@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";
@import "../fonts/stylesheet.css";

// 2. Set your own initial variables
// Update the blue shade, used for links
$grey-darker: #181818;
$blue: #1560FF;
$pink: #ff8080;
$pink-invert: #fff;
$yellow: #FFE44E;
$yellow-pale: #FFF6CB;
$yellow-gradient: linear-gradient(180deg, #FFF386 0%, #FFE44E 100%);
$midnight: #2c3e50;
$clouds: #ecf0f1;

$family-sans-serif: "SF Rounded", "Arial", sans-serif;

html {
    background: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "New York", "Arial", sans-serif;
}

a {
  color: $blue;
  &:hover {
    color: $blue;
  }
}

body {
    background: $yellow;
}

footer {
    background: $yellow-gradient !important;
}

.menu-list a:hover {
  background: #D1BB40;
}



// Bulma Overrides
.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }

  .buttons {
    padding-left: 56px;
  }
}

.content h1:not(:first-child) {
  margin-top: .5em;
}

.subtitle {
    font-size: 1.25em;
    color: #3b3b3b;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px #CBCBCB;
    border-radius: 5px;
}

.card-content {
    padding: 2rem;
    
    .card-title {
        padding-bottom: 1.5rem;
    }
}


section {
  padding: 0 24px;
}

.button.is-link {
    background: linear-gradient(0deg, #1560FF 0%, #6A99FF 100%);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    &.fixed-size {
      font-size: 16px;
      padding: 8px;
      height: 48px;
    }
}

// Button Sizes

.button {
  font-size: 16px;
  box-shadow: 0px 2px 4px #CBCBCB, inset 0px 1px 3px rgba(255, 255, 255, 0.64);
  height: 56px;
  padding-right: 1.25em;
  padding-left: 1.25em;

  &.is-white {
    color: $blue !important;
  }

  &.is-small {
    font-size: 14px;
    height: 48px;
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  &.is-large {
    font-size: 18px;
    height: 60px;
  }
}

.navbar {
    background: transparent;
    padding: 24px 0 60px;
}


.container.is-fluid {
    max-width: 1120px;
    margin: 0 auto;
}

.tabs {
    background: $white;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 4px #CBCBCB;
    border-radius: 5px;
    padding: 24px 12px;

    ul, a {
        border: none;
    }
    li a {
        padding: 16px 24px;
    }

    li.is-active a {
        font-weight: 700;
        color: $blue;
        background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
        box-shadow: 0px 2px 4px #CBCBCB;
        border-radius: 3px;
        border: none;
    }
}

// General
.is-new-york {
    font-family: "New York", "Arial", sans-serif;
}

.card-spacing {
    margin: 48px auto;
}

// Auth Pages
.auth-page {
    background: $yellow-gradient;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .title, .subtitle {
      @include until($tablet) {
        text-align: left !important;
      }
    }
}

.auth-page .header {
    padding: 32px 0;
}


.pre-footer {
    padding: 48px 0;

    .recaptcha {
        color: $grey;
        padding: 24px;
        font-size: 0.85rem;
        a {
            color: $grey;
        }
    }
}

// Custom Buttons
.button.rs-btn {
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    box-shadow: 0px 2px 4px #CBCBCB;
    border-radius: 3px;
    border: none;
    height: 100%;
    padding: 12px 0;
    text-align: left;

    img {
        width: 64px;
        margin-right: 24px;
    }

    .button-text {
        line-height: 1.25;
        width: 128px;
    }

    small {
        color: $grey;
    }

    span {
        text-transform: uppercase;
    }
}

// Sections
.hero {
    padding: 40px 24px 160px;
}

.regular-section {
    padding: 80px 24px;
    background: $yellow-pale;

    &.stripe {
        background: repeating-linear-gradient( -55deg, #000, #000 30px, $yellow 30px, $yellow 60px );
    }

    &.is-centered {
      @include until(tablet) {
        text-align: center !important;
      }
    }
}

.padded-section {
  padding-left: 24px;
  padding-right: 24px;
}

.stripe {
    padding: 64px;
    @include until($tablet) {
      padding: 24px !important;
    }
    .card {
        padding: 64px 32px;
        box-shadow: none;
    }
}

.yellowed {
  background: $yellow;
}

.yellowed-gradient {
  background: $yellow-gradient
}

.ph-badge {
  padding-left: 16px;
  height: 62px;
  @include until($tablet) {
    float: left;
    padding-left: 0;
    padding-bottom: 16px;
  }
}

.intro-items {
    padding: 48px 0;
    .picture {
        img {
            width: 100%;
            max-width: 96px;
            padding-bottom: 24px;
        }
    }    
}

.why-become-a-rider, {
    background-image: url(../assets/waves-pattern.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 640px;
}

.what-were-building {
    padding: 120px 0;
    background-image: url(../assets/3-waves-pattern.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    > .title {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
    .screenshots {
        .picture {
            padding: 24px 0;
            max-width: 280px;
        }
        .title {
            padding: 24px 0;
        }
    }
}

.launching-timer {
    .timer {
        padding: 0 0 32px;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          padding: 16px;
        }
    }

    .subtitle {
        color: $grey;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.sign-up-cta {
    .title {
        padding: 24px 0;
    }

    .faq {
        padding: 80px 0;
        .title {
            max-width: 720px;
            margin: 0 auto;
        }
    }
}

.early-access {
    .terms {
        color: $grey;
        padding: 24px 0;
        font-size: 0.85rem;
        a {
            color: $grey;
            font-weight: 700;
        }
    }
    
    .gold-checked {
      img { 
        vertical-align: middle;
      }
    } 
}


// Link and Icons
.right-arrow {
    vertical-align: middle;
    padding-left: 16px;
}


// Passenger
.check-our-rates {
    h3 {
        padding-bottom: 16px;
    }
}

.how-it-works {
    padding: 120px 0;
    > .title {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
    .screenshots {
        .picture {
            padding: 24px 0;
        }
        .title {
            padding: 24px 0;
        }
        img {
          max-width: 180px;
        }
    }
}

.have-more-time {
    .card {
        padding-bottom: 0;
    }

    .column:last-child {
        padding-bottom: 0;
    }

    img {
        max-width: 280px;
    }

    .phone-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.people-trust {
    padding: 120px 0;
    background-image: url(../assets/waves-pattern.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px;
}

.were-building-better {
    padding: 120px 0;
    > .title {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 120px;
    }

    .columns {
        padding: 64px 0;
        padding-left: 64px;
    }
}


// Dashboard
.dashboard {
    .hero {
        padding-top: 24px;
    }
}

.count-box {
    background: $white;
    font-size: 2rem;
    font-weight: 700;
    height: 100%;
    width: 100%;
    padding: 24px;
    max-height: 128px;
}

.step-box {
    background: $yellow-gradient;
    margin: 48px 12px;
    padding: 40px 32px;

    .count {
        background: $white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        text-align: center;
        padding: 4px;
        font-weight: 700;
        margin: 0 0 16px;
    }
}

.referral-counts {
    padding-top: 48px;
    .tooltip {
      float: right;
      vertical-align: middle;
    }
}

.unlock-rewards-ad .card {
    padding: 80px 48px;
    text-align: center;
}

.unlock-card{
    margin-bottom: 40px;

    &.locked {
        .card-title {
            background: #F8FFEB;
        }
        .content {
            background: $yellow-gradient;
        }
    }

    .card-title {
        margin: 4px auto;
        margin-bottom: -8px;
        position: relative;
        z-index: 1;
        padding: 8px 0;
        width: 80%;
        background: #EFEFEF;
    }

    .content {
        background: #F8F8F8;
        padding: 24px 16px;
        border-radius: 4px;
        line-height: 2.5;
        height: 176px;

        img {
            vertical-align: middle;
        }
    }
}


.rewards-and-benefits {
    .faq {
        padding: 80px 0;
    }
}


.gender-buttons {
    img {
        max-width: 32px;
        padding: 12px 0;
    }

    .button {
        height: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
        box-shadow: 0px 2px 4px #CBCBCB;
        border: none;
    }
}

// Range Slider
.registration-success {
    img {
        max-width: 200px;
        margin: 0 auto;
        padding: 24px 0;
    }
}

/* Accordion styles */
.accordion {
    overflow: hidden;
}

.accordion-item {
    width: 100%;
    color: $black;
    overflow: hidden;
    padding: 4px;

    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: #fff;
      font-weight: bold;
      box-shadow: 0px 2px 4px #CBCBCB;
      margin: 8px 0;

      cursor: pointer;
      /* Icon */
      &:hover {
          background: #eee;
      }
      &::after {
          content: "\276F";
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all .35s;
      }
    }

    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $midnight;
      background: white;
      transition: all .35s;
      border-radius: 3px;
      box-shadow: 0px 2px 4px #CBCBCB;
      width: 95%;
      margin: 0 auto;
    }

    &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;

      &:hover {
          background: darken($midnight, 10%);
      }
    }
}

.ticker {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// :checked
.ticker:checked {
  + .accordion-item-label {
    background: $white;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .accordion-item-content {
    max-height: 100vh;
    padding: 1em;
  }
}

// Range slider for Driver
$h: 1em;
$w: 100%;

@mixin thumb() {
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  border: (solid .35em transparent) null (solid .25em transparent);
  width: $h + .3em;
  height: $h + .3em;
  background-clip: content-box;
  position: relative;
  z-index: 10;
  margin-top: -.1em;
  margin-left: .05em;
  background: linear-gradient(180deg, #FFED8E 0%, #D1BB40 100%);
  border: 1px solid #181818;
  box-shadow: 0px 2px 4px #CBCBCB;
}

@mixin trackN($n) {
  input[type='range'].n.n#{$n}:before {
    $bgW: $w / ($n - 1);
    background-size: (
      $bgW $h, 
      $w .25em
    );
  }
}

.daily-range {
  margin-top: 32px;
  padding: 40px 16px;
  .range-title {
    font-weight: 700;
    padding-left: 16px;
  }
}

.range-container {
  padding: 16px 0;
}

.range {
  width: 88%;
  margin: 0 auto;
}

.range-price {
  padding: 16px;
  font-weight: 700;
}

.range-results {
  padding: 24px;

  .stroked {
    text-decoration: line-through;
    color: $grey;
  }

  .incentive-text {
    p {
      font-size: 12px;
      line-height: 1;
      font-weight: 700;
      margin-top: 8px;
    }
  }
}

ul.range-labels {
  width: 100%;
  margin: 0 auto;
  display: flex;

  li {
    font-size: 14px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.from-to-rates {
  padding: 0 24px;
  .columns {
    margin-top: 8px;
  }
}


.is-strong {
  font-weight: 700;
}

input[type='range'].n {
  display: block;
  margin: 1em auto 0.5em;
  padding: 0;
  background: transparent;
  font-size: 1.25em;
  cursor: pointer;
  width: 100%;
  position: relative;

  &:after {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #E9E9E9;
    position: absolute;
    right: 0;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0.8em;
    height: 1em;
    background: radial-gradient(circle at 0.5em 50%, #E9E9E9 0.3125em, #E9E9E9 0.3125em, #E9E9E9 0.5em, transparent 0.5em), linear-gradient(90deg, transparent 0, #E9E9E9 0) repeat-x 0 50%;
    box-sizing: border-box;
  }

  &::-ms-track { 
    border: none;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    @include thumb();
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus {
    outline: none;
  }
}

input[type='range'].n, input[type='range'].n::-webkit-slider-runnable-track, input[type='range'].n::-webkit-slider-thumb {
  -webkit-appearance: none;
}

@for $n from 2 through 10 {
  @include trackN($n);
}

.check-benefits {
  font-size: 12px;
  padding: 0 24px;
  img {
    vertical-align: middle;
    width: 16px;
  }
  li {
    display: inline-block;
    padding-right: 15px;
  }
}


// tag

.tag:not(body) {
  border-radius: 16.5px;
  padding: 16px;
  font-size: 10px;
  font-weight: 700;
  &.is-success {
    background-color: #EDFFCE;
    border: 1px solid #3C4629;
    color: #3C4629;
  }
  &.is-danger {
    background: #FFB1B1;
    border: 1px solid #461E1E;
    color: #461E1E;
    font-size: 12px;
  }
}

.social-links {
  p {
    margin-bottom: 12px;
  }
  .link-item {
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    box-shadow: 0px 1px 2px #CBCBCB, inset 0px 1px 3px rgba(255, 255, 255, 0.64);
    border-radius: 2px;
    padding: 10px;
    display: inline;
    border: none;
  }
}

.radio-selection {
  padding-bottom: 24px;
  padding-top: 24px;
}

.input {
  background: #F8F8F8;
  box-shadow: inset 0px 2px 4px #CBCBCB !important;
  font-family: $family-sans-serif;
}

.disclaimer {
  color: #818181;
}

.welcome-and-count {
  padding: 0 80px;
}

