@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";
@import "../fonts/stylesheet.css";

// 2. Set your own initial variables
// Update the blue shade, used for links
$grey-darker: #181818;
$blue: #06bcef;
$pink: #ff8080;
$pink-invert: #fff;
$yellow: #FFE44E;
$yellow-pale: #FFF6CB;
$yellow-gradient: linear-gradient(180deg, #FFF386 0%, #FFE44E 100%);


$family-sans-serif: "SF Rounded", "Arial", sans-serif;

html {
    background: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "New York", "Arial", sans-serif;
}

body {
    background: $yellow;
}

footer {
    background: $yellow-gradient;
}

// Bulma Overrides

.subtitle {
    font-size: 1.25em;
    color: #3b3b3b;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px #CBCBCB;
    border-radius: 5px;
}

.card-content {
    padding: 2rem;
    
    .card-title {
        padding-bottom: 1.5rem;
    }
}

.button.is-link {
    background: linear-gradient(0deg, #1560FF 0%, #6A99FF 100%);
    box-shadow: 0px 2px 4px #CBCBCB, inset 0px 1px 3px rgba(255, 255, 255, 0.64);
    border-radius: 4px;
    border: none;
}

.navbar {
    background: transparent;
    padding: 24px 0 60px;
}


.container.is-fluid {
    max-width: 1120px;
    margin: 0 auto;
}

// General
.is-new-york {
    font-family: "New York", "Arial", sans-serif;
}

.card-spacing {
    margin-top: 48px;
}

// Auth Pages
.auth-page {
    background: $yellow-gradient;
}

.auth-page .header {
    padding: 56px 0;
}

.pre-footer {
    padding: 48px 0;

    .recaptcha {
        color: $grey;
        padding: 24px;
        font-size: 0.85rem;
        a {
            color: $grey;
        }
    }
}

// Custom Buttons
.button.rs-btn {
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    box-shadow: 0px 2px 4px #CBCBCB;
    border-radius: 3px;
    border: none;
    height: 100%;
    padding: 12px 0;
    text-align: left;

    img {
        width: 64px;
        margin-right: 24px;
    }

    .button-text {
        line-height: 1.25;
        width: 128px;
    }

    small {
        color: $grey;
    }

    span {
        text-transform: uppercase;
    }
}

// Sections
.hero {
    padding: 80px 0 160px;
}

.regular-section {
    padding: 80px 0;
    background: $yellow-pale;

    &.stripe {
        background: repeating-linear-gradient( -55deg, #000, #000 30px, $yellow 30px, $yellow 60px );
    }
}

.stripe {
    padding: 64px;
    .card {
        padding: 64px 32px;
        box-shadow: none;
    }
}

.yellowed {
    background: $yellow;
}

.intro-items {
    padding: 48px 0;
    .picture {
        img {
            width: 100%;
            max-width: 96px;
            padding-bottom: 24px;
        }
    }    
}

.why-become-a-rider, {
    background-image: url(../assets/waves-pattern.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 640px;
}

.what-were-building {
    padding: 120px 0;
    > .title {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
    .screenshots {
        .picture {
            padding: 24px 0;
            max-width: 280px;
        }
        .title {
            padding: 24px 0;
        }
    }
}

.launching-timer {
    .timer {
        padding: 32px 0;
    }

    .subtitle {
        color: $grey;
        text-transform: uppercase;
    }
}

.sign-up-cta {
    .title {
        padding: 24px 0;
    }

    .faq {
        padding: 80px 0;
        .title {
            max-width: 720px;
            margin: 0 auto;
        }
    }
}

.early-access {
    .terms {
        color: $grey;
        padding: 24px 0;
        font-size: 0.85rem;
        a {
            color: $grey;
            font-weight: 700;
        }
    }
    
    .gold-checked {
        display: flex;
        align-items: center;
        font-size: 1rem;
    } 
}


// Link and Icons
.right-arrow {
    vertical-align: middle;
    padding-left: 16px;
}


// Passenger
.check-our-rates {
    h3 {
        padding-bottom: 16px;
    }
}

.how-it-works {
    padding: 120px 0;
    > .title {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
    .screenshots {
        .picture {
            padding: 24px 0;
        }
        .title {
            padding: 24px 0;
        }
    }
}

.have-more-time {
    .card {
        padding-bottom: 0;
    }

    .column:last-child {
        padding-bottom: 0;
    }

    img {
        max-width: 200px;
    }
}

.people-trust {
    padding: 120px 0;
    background-image: url(../assets/waves-pattern.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px;
}

.were-building-better {
    padding: 120px 0;
    > .title {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 120px;
    }

    .columns {
        padding: 64px 0;
        padding-left: 64px;
    }
}


// Dashboard
.dashboard {
    .hero {
        padding-top: 24px;
    }
}

.count-box {
    background: $white;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    padding: 24px;
    max-height: 128px;
}

.step-box {
    background: $yellow-gradient;
    margin: 48px 24px;
    padding: 40px 32px;

    .count {
        background: $white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        text-align: center;
        padding: 4px;
        margin: 0 0 16px;
    }
}

.referral-counts {
    padding-top: 48px;
}

.unlock-rewards-ad .card {
    padding: 80px 48px;
    text-align: center;
}

.unlock-card{
    margin-bottom: 40px;

    &.locked {
        .card-title {
            background: #F8FFEB;
        }
        .content {
            background: $yellow-gradient;
        }
    }

    .card-title {
        margin: 4px auto;
        margin-bottom: -8px;
        position: relative;
        z-index: 1;
        padding: 8px 0;
        width: 80%;
        background: #EFEFEF;
    }

    .content {
        background: #F8F8F8;
        padding: 24px 16px;
        border-radius: 4px;
        line-height: 2.5;

        img {
            vertical-align: middle;
        }
    }
}


.rewards-and-benefits {
    .faq {
        padding: 80px 0;
    }
}


.gender-buttons {
    img {
        max-width: 32px;
        padding: 12px 0;
    }

    .button {
        height: 100%;
    }
}

// Range Slider


.registration-success {
    img {
        max-width: 200px;
        margin: 0 auto;
        padding: 24px 0;
    }
}