@font-face {
    font-family: 'SF Rounded';
    src: url('SFRounded.woff2') format('woff2'),
        url('SFRounded.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Rounded';
    src: url('SFRounded-Bold.woff2') format('woff2'),
        url('SFRounded-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'New York';
    src: url('NewYork-Regular.woff2') format('woff2'),
        url('NewYork-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

