<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body class="dashboard">
    <% include ../partials/header-dashboard %>

    <section class="hero is-large">
      <div class="welcome-and-count">
        <div class="columns">
          <div class="column has-text-centered">
            <div class="content">
              <h1 class="title is-spaced is-size-1">Welcome to your dashboard, Tony.</h1>
              <p class="subtitle is-size-4">
                We are working very hard to build you a better, faster, and more rewarding motorcycle <br /> ride-hailing app — so get excited! Invite more people so you can unlock <br /> more rewards and benefits!
              </p>
            </div>
          </div>
        </div>
        <div class="columns is-centered referral-counts">
          <div class="column is-4">
            <label class="label">Personal referral code</label>
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input is-large copy-link" type="text" value="http:bit.ly/refby_tonystark">
              </p>
              <p class="control">
                <a class="button is-link" style="margin-top: 0;">
                  Copy Link
                </a>
              </p>
            </div>
            <div class="is-new-york social-links copy-link-social">
              <a class="button link-item"><img src="assets/facebook.svg" /></a>
              <a class="button link-item"><img src="assets/twitter.svg" /></a>
              <a class="button link-item"><img src="assets/instagram.svg" /></a>
              <a class="button link-item"><img src="assets/youtube.svg" /></a>
            </div>
          </div>
          <div class="column is-2">
            <label class="label">
              Total referrals 
              <span class="tooltip is-tooltip-multiline" data-tooltip=" This is the total number of people that have successfully signed up using your referral
              link.">
                <i class="fa fa-info-circle"></i> 
              </span>
            </label>
            <div class="count-box is-new-york">
              0
            </div>
          </div>
          <div class="column is-2">
            <label class="label">
              Account Level
              <span class="tooltip is-tooltip-multiline" data-tooltip="This is the level of your account. The higher your Account Level is the more benefits
              and rewards you can get once we launch.">
                <i class="fa fa-info-circle"></i> 
              </span>
            </label>
            <div class="count-box is-new-york">
              Level 1
            </div>
          </div>
          <div class="column is-2">
            <label class="label">
              Total Earned
              <span class="tooltip is-tooltip-multiline" data-tooltip="This is the total amount of Ride Sabay credits you’ve earned from having people
              successfully sign up using your referral link.">
                <i class="fa fa-info-circle"></i> 
              </span>
            </label>
            <div class="count-box is-new-york">
              ₱50
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Why become a rider -->
    <section class="easy-steps regular-section">
      <h2 class="is-size-2 title has-text-centered">3 easy steps to get more benefits and rewards</h2>
      <div class="container is-fluid">
        <div class="columns is-variable is-6 is-centered step-boxes">
          <div class="column step-box is-3 has-text-centered">
            <div class="count is-new-york">1</div>
            <p class="title is-size-5">Copy personal <br /> referral code</p> 
            <p class="subtitle is-size-6">Share through SMS, Viber, <br /> or other chat apps</p>
          </div>
          <div class="column step-box is-3 has-text-centered">
            <div class="count is-new-york">2</div>
            <p class="title is-size-5">Post in your social <br /> media accounts</p> 
            <p class="subtitle is-size-6">Share with your family and <br /> friends to get rewards!</p>
          </div>
          <div class="column step-box is-3 has-text-centered">
            <div class="count is-new-york">3</div>
            <p class="title is-size-5">Refer more to get <br /> benefits and rewards</p>  
            <p class="subtitle is-size-6">Earn up to P3,350 by using <br /> your referral code to invite</p>
          </div>
        </div>
      </div>
    </section>

    <!-- 1,000,000 Riders -->
    <section class="unlock-rewards-ad regular-section stripe">
      <div class="">
        <div class="card">
          <h1 class="title is-spaced is-size-3">Unlock rewards and benefits below by inviting more <br /> people. Use social media for easier and faster sharing.</h1>
        </div>
      </div>
    </section>

    <!-- People trust -->
    <section class="rewards-and-benefits regular-section">
      <div class="columns is-centered">
        <div class="column is-8">
          <h1 class="is-size-2 title has-text-centered">Refer using your personal referral code and unlock more rewards and benefits</h1>
        </div>
      </div>
      <br />
      <div class="container is-fluid">
        <div class="columns is-centered">
          <div class="column is-4">
            <div class="unlock-card has-text-centered locked">
                <div class="card-title has-text-centered is-new-york"><strong>UNLOCKED!</strong></div>
                <div class="content">
                  <span> <strong>+50 Pesos</strong> RIDESabay credits</span> <br />
                  <span> Upgrade to <strong>Level 1 Account</strong></span>
                </div>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-4">
            <div class="unlock-card has-text-centered">
                <div class="card-title has-text-centered"><strong>REFER 3</strong> TO UNLOCK</div>
                <div class="content">
                  <span><strong>+150 Pesos</strong> RIDESabay credits</span> <br />
                  <span>Be on the <strong>waitlist for early access</strong></span> <br />
                  <span>Get <strong>125 Points</strong></span>
                </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="unlock-card has-text-centered">
                <div class="card-title has-text-centered"><strong>REFER 6</strong> TO UNLOCK</div>
                <div class="content">
                  <span><strong>+300 Pesos</strong> RIDE Sabay credits</span> <br />
                  <span><strong>Secure your spot</strong> when we launch</span> <br />
                  <span>Upgrade to <strong>Level 2 Account</strong></span>
                </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="unlock-card has-text-centered">
                <div class="card-title has-text-centered"><strong>REFER 9</strong> TO UNLOCK</div>
                <div class="content">
                  <span><strong>+450 Pesos</strong> RIDE Sabay credits</span> <br />
                  <span><strong>10% discount for 1 month!</strong></span> <br />
                </div>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-4">
            <div class="unlock-card has-text-centered">
                <div class="card-title has-text-centered"><strong>REFER 12</strong> TO UNLOCK</div>
                <div class="content">
                  <span><strong>+600 Pesos</strong> RIDESabay credits</span> <br />
                  <span>Get <strong>125 Points</strong></span>
                </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="unlock-card has-text-centered">
                <div class="card-title has-text-centered"><strong>REFER 15</strong> TO UNLOCK</div>
                <div class="content">
                  <span><strong>+950 Pesos</strong> RIDE Sabay credits</span> <br />
                  <span>Upgrade to <strong>Level 2 Account</strong></span>
                </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="unlock-card has-text-centered">
                <div class="card-title has-text-centered"><strong>REFER 45</strong> TO UNLOCK</div>
                <div class="content">
                  <span><strong>+3,350 Pesos</strong> RIDE Sabay credits</span> <br />
                  <span><strong>20% discount for 1 month!</strong> </span> <br />
                </div>
            </div>
          </div>
        </div>
      <div class="columns is-centered">
        <div class="column is-8 has-text-centered">
          <h1 class="is-size-3 has-text-centered">
              This deal is only valid before we launch! <br />
              So hurry and share!
          </h1>

          <div class="social-links has-text-centered">
              <a class="button link-item"><img src="assets/facebook.svg" /></a>
              <a class="button link-item"><img src="assets/instagram.svg" /></a>
              <a class="button link-item"><img src="assets/twitter.svg" /></a>
              <a class="button link-item"><img src="assets/youtube.svg" /></a>
          </div>
          <br /> 
          <small>Click an icon for faster sharing</small>

        </div>
      </div>
      </div>
    </section>

    <!-- 1,000,000 Riders -->
    <section class="unlock-rewards-ad regular-section stripe">
      <div class="">
        <div class="card">
          <h3 class="is-size-3 title">Got questions? Check our FAQ to learn more</h3>
          <p class="is-size-4">Know how to get RIDE Sabay credits and more <br /> rewards 
              by going to our FAQ. <br /> <br /> </p>
          <a class="button is-link is-block is-large">
            <strong>Go to FAQ</strong>
          </a>
        </div>
      </div>
    </section>

    <section class="regular-section">
        <div class="has-text-centered">
          <img src="assets/dashboard/brand-element.jpg" class="brand-element" />
          <br /> <br />
          <p class="is-size-5"><strong>Share this poster in social media <br /> so you can start using our app sooner.</strong></p>
          <div class="social-links">
            <a class="button link-item"><img src="assets/facebook.svg" /></a>
            <a class="button link-item"><img src="assets/twitter.svg" /></a>
            <a class="button link-item"><img src="assets/instagram.svg" /></a>
            <a class="button link-item"><img src="assets/youtube.svg" /></a>
          </div>
        </div>
    </section>
    <footer class="footer">
      <% include ../partials/footer %>
    </footer>
    <script type="text/javascript" src="lib/main.js"></script>
  </body>
</html>
