<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <section class="hero is-large">
      <div class="container is-fluid">
        <div class="columns is-vcentered is-centered has-text-centered">
          <div class="column is-10">
            <div class="content">
              <span class="tag is-danger">COMING SOON</span>
              <h1 class="title is-spaced is-size-1">
                Move through traffic. Do more of what you love.
              </h1>
              <p class="subtitle is-size-3">
                  <strong>RIDE Sabay</strong> is the newest motorcycle ride-hailing app in town. We make moving easy. 😎
              </p>
              <div>
              <img src="assets/product-hunt.svg" class="ph-badge" /> <br />
              <a class="button is-large is-block is-link">
                <strong>Sign up now</strong>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Why become a rider -->
    <section class="why-become-a-rider regular-section patterned is-centered">
      <h2 class="is-size-2 title has-text-centered">Passenger features</h2>
      <div class="container is-fluid has-text-centered">
        <div class="columns is-variable is-6 intro-items">
          <div class="column is-one-third">
            <div class="picture"><img src="assets/passenger/features/1.png" /></div>
            <p class="title is-size-5">Ride Now Pay Later™️ <br /> when you don’t have cash. 😎</p>
            <p class="subtitle is-size-6">A payment feature that allows you to <br /> ride now and pay at a later date.</p>
          </div>
          <div class="column is-one-third">
            <div class="picture"><img src="assets/passenger/features/2.png" /></div>
            <p class="title is-size-5">Book For Later™️. <br /> A sure ride for you. 😎</p>
            <p class="subtitle is-size-6">We added an new booking feature to <br /> help you prepare for the future.</p>
          </div>
          <div class="column is-one-third">
            <div class="picture"><img src="assets/passenger/features/3.png" /></div>
            <p class="title is-size-5">In-app messaging. <br /> Chat with your Rider — real time. 😎</p>
            <p class="subtitle is-size-6">Communicate freely with Riders inside <br />
                the app for FREE!</p>
          </div>
        </div>
        <a class="button is-large is-block is-link">
          <strong>Sign up now</strong>
        </a>
      </div>
    </section>

    <!-- 1,000,000 Riders -->
    <section class="regular-section stripe">
      <div class="is-fluid">
        <div class="card has-text-centered">
          <h3 class="is-size-3 title">1,000,000 + Riders trust motorcycle ride-sharing apps <br /> to help them achieve their dreams</h3>
          <p class="is-size-4">Sign up now for FREE to be part of our exclusive early launch. <br /> <br /> </p>
          <a class="button is-link is-large is-block">
            <strong>Sign up now</strong>
          </a>
        </div>
      </div>
    </section>

    <!-- What we're building -->
    <section class="what-were-building regular-section padded-section patterned">
      <h2 class="is-size-2 title has-text-centered"> How it works </h2>
      <div class="container is-fluid">
        <div class="columns is-variable is-6 screenshots">
          <div class="column is-one-third has-text-centered">
            <div class="picture"><img src="assets/how-it-works/1.png" /></div>
            <p class="title is-size-4 is-new-york">Enter pick up and drop off location in the app</p>
          </div>
          <div class="column is-one-third">
            <div class="picture"><img src="assets/how-it-works/2.png" /></div>
            <p class="title is-size-4 is-new-york">Book and wait for Rider to arrive in pick up location</p>
          </div>
          <div class="column is-one-third">
            <div class="picture"><img src="assets/how-it-works/3.png" /></div>
            <p class="title is-size-4 is-new-york">Safely ride away to your destination with Rider</p>
          </div>
        </div>
      </div>
    </section>

    <!-- 1,000,000 Riders -->
    <section class="launching-timer regular-section stripe">
      <div class="is-fluid">
        <div class="card has-text-centered">
          <h3 class="is-size-3 title">RIDE Sabay will be launching in</h3>
          <ul class="timer">
            <li>
                <p id="days" class="title is-size-1">0</p>
                <p class="subtitle is-size-6">days</p>
            </li>
            <li>
                <p id="hours" class="title is-size-1">0</p>
                <p class="subtitle is-size-6">hours</p>
            </li>
            <li>
                <p class="is-size-1">:</p>
                <p class="subtitle is-size-6">&nbsp;</p>
            </li>
            <li>
                <p id="minutes" class="title is-size-1">0</p>
                <p class="subtitle is-size-6">minutes</p>
            </li>
            <li>
                <p class="is-size-1">:</p>
                <p class="subtitle is-size-6">&nbsp;</p>
            </li>
            <li>
                <p id="seconds" class="title is-size-1">0</p>
                <p class="subtitle is-size-6">seconds</p>
            </li>
          </ul>
          <!-- <div class="columns timer is-multiline is-mobile is-gapless">
            <div class="column">
              <p id="days" class="title is-size-1">0</p>
              <p class="subtitle is-size-6">days</p>
            </div>
            <div class="column">
              <p class="is-size-1">&nbsp;</p>
            </div>
            <div class="column">
              <p id="hours" class="title is-size-1">0</p>
              <p class="subtitle is-size-6">hours</p>
            </div>
            <div class="column">
              <p class="is-size-1">:</p>
            </div>
            <div class="column">
              <p id="minutes" class="title is-size-1">0</p>
              <p class="subtitle is-size-6">minutes</p>
            </div>
            <div class="column">
              <p class="is-size-1">:</p>
            </div>
            <div class="column">
              <p id="seconds" class="title is-size-1">0</p>
              <p class="subtitle is-size-6">seconds</p>
            </div>
          </div> -->
          <p class="is-size-4 sign-up-now">Sign up now for FREE to benefit from our promos!</p> <br />
          <a class="button is-large is-block is-link">
            <strong>Sign up now</strong>
          </a>
        </div>
      </div>
    </section>
  

    <!-- Why become a rider -->
    <section class="why-become-a-rider regular-section patterned is-centered">
      <h2 class="is-size-2 title has-text-centered">Rider features</h2>
      <div class="container is-fluid has-text-centered">
        <div class="columns is-variable is-6 intro-items">
          <div class="column is-one-third">
            <div class="picture"><img src="assets/rider/features/1.png" /></div>
            <p class="title is-size-5">In app messaging — <br /> for FREE. 😎</p>
            <p class="subtitle is-size-6">Communicate freely with Passengers <br /> inside the app and save money.</p>
          </div>
          <div class="column is-one-third">
            <div class="picture"><img src="assets/rider/features/2.png" /></div>
            <p class="title is-size-5">An incentive program for our <br /> best Riders. 😎</p>
            <p class="subtitle is-size-6">We created a great incentive program <br /> to give back to our best Riders.</p>
          </div>
          <div class="column is-one-third">
            <div class="picture"><img src="assets/rider/features/3.png" /></div>
            <p class="title is-size-5">Get help when you need <br /> it the most.  😎</p>
            <p class="subtitle is-size-6">We have road side assitance to help <br /> you in case you get into an accident.</p>
          </div>
        </div>  
        <a class="button is-large is-block is-link">
          <strong>Sign up now</strong>
        </a>
        <div class="columns is-centered has-text-left is-vcentered we-care-for-you">
          <div class="column is-4">
            <div class="content">
              <h3 class="is-size-3">We care for you.</h3>
              <p>We have created a rewarding incentive program to give back to our loyal riders. </p>
              <p>Sign up before we launch to get more benefits and rewards!</p>
              <ul>
                <li><img src="assets/gold-check.svg"> &nbsp; <strong>Early access</strong></li>
                <li><img src="assets/gold-check.svg"> &nbsp; <strong>High income</strong></li>
                <li><img src="assets/gold-check.svg"> &nbsp; <strong>Rider support</strong></li>
                <li><img src="assets/gold-check.svg"> &nbsp; <strong>Friendly community</strong></li>
            </div>
          </div>
          <div class="column is-7 is-offset-1-desktop">
            <div class="card">
              <div class="daily-range">
                <h3 class="range-title is-size-4">Know how much you can earn daily</h3>
                <div class="range-container">
                  <div class="range">
                    <input type='range' min='1' max='6' value='1' id="earn-range" step='1' class="n n6"/>
                  </div>
                  <ul class="range-labels">
                    <li class="is-strong">6 <br />trips</li>
                    <li>9 <br />trips</li>
                    <li>12 <br />trips</li>
                    <li>15 <br />trips</li>
                    <li>18 <br />trips</li>
                    <li>21 <br />trips</li>
                  </ul>
                </div>

                <div class="range-results">
                  <table class="table is-fullwidth">
                    <tr>
                      <td>Normal income</td>
                      <td id="range-earnings" class="has-text-right">₱264.00</td>
                    </tr>
                    <tr>
                      <td>Pre-launch incentive*</td>
                      <td id="range-earnings-additional" class="has-text-right">+ ₱0.00</td>
                    </tr>
                    <tr>
                      <td><strong>Total income</strong></td>
                      <td id="range-earnings-total" class="has-text-right"><strong>₱768.00</strong></td>
                    </tr>
                  </table>
                  <p>*Sign up now and receive P200.00 when you complete your first 6 trips when we launch! Get more benefits and rewards when you sign up now!</p>
                  <!-- <div class="columns">
                    <div class="column">
                      <label><strong>Income</strong></label>
                      <div class="range-price is-new-york yellowed-gradient">
                        <span class="is-size-5 stroked">₱200</span>
                        <span class="is-size-3" id="range-earnings">₱264.00</span>
                      </div>
                    </div>
                    <div class="column incentive-text has-text-centered">
                      <label id="test"></label>
                      <label class="is-size-5"><strong>Earn P200.00</strong></label> <br />
                      <span class="tag is-success">PRE- LAUNCH INCENTIVE!</span> <br />
                      <p>Sign up now to get more benefits and incentives!</p>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- What we're building -->
    <!-- <section class="sign-up-cta regular-section patterned">
      <div class="container is-fluid">
        <div class="columns is-variable is-6">
          <div class="column is-half">
            <div class="picture"><img src="assets/rider/sign-up-1.png" /></div>
            <p class="title is-size-4 is-new-york">Join our community of Riders and meet other people.</p>
            <p class="subtitle is-size-5">Our Rider community is very rewarding, friendly, and family oriented. Be part of our family and sign up now.</p>
            <a href="/" class="is-size-5"><strong>Sign up now</strong><img src="assets/blue-arrow.svg" class="right-arrow"/></a>
          </div>
          <div class="column">
            <div class="picture"><img src="assets/rider/sign-up-2.png" /></div>
            <p class="title is-size-4 is-new-york">Be part of the growing RIDE Sabay community. </p>
            <p class="subtitle is-size-5">Don’t get left behind and join our exclusive community of like minded Riders. We do events, meetups, and Rider Journeys.</p>
            <a href="/" class="is-size-5"><strong>Sign up now</strong><img src="assets/blue-arrow.svg" class="right-arrow"/></a>
          </div>
        </div>
        <div class="has-text-centered faq">
          <h3 class="is-size-3 title">Got questions? Go to our FAQ page to find out more about being a Rider</h3>
          <p class="is-size-5">Know how to get RIDE Sabay credits and more rewards 
              by going to our FAQ. <br /> <br /> </p>
          <a class="button is-link is-large">
            <strong>Go to FAQ</strong>
          </a>
        </div>
      </div>
    </section>   -->

    <!-- 1,000,000 Riders -->
    <section class="regular-section early-access stripe">
      <div class="container is-fluid">
        <div class="card">
          <div class="columns is-vcentered">
            <div class="column is-size-4">
              <h3 class="is-size-3 title">Get early access and be part of our Rider community.</h3>
              <p class="is-size-5">Sign up now and don’t get left behind. Enjoy the incentives as soon as we launch.😎 <br /> <br /> </p>
              <p class="is-size-6"><strong>Sign up now for FREE before our promo ends! 
                  It only takes 1-minute. </strong></p>
            </div>
            <div class="column">
              <div class="field">
                <div class="field">
                  <label class="label">Mobile number</label>
                  <div class="control">
                      <input class="input is-large" type="text" placeholder="09xx xxxx xxxx">
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-6">
                      <button class="button is-large rs-btn is-fullwidth"> 
                        <img src="assets/passenger-icon.svg" />
                        <p class="button-text">
                          <small>I'm a</small> <br />
                          <span class="is-size-5 is-new-york"> <strong>Passenger </strong></span>
                        </p>
                      </button>
                  </div>
                  <div class="column is-6">
                      <button class="button is-large rs-btn is-fullwidth"> 
                        <img src="assets/rider-icon.svg" />
                        <p class="button-text">
                          <small>I'm a</small> <br />
                          <span class="is-size-5 is-new-york"> <strong>Rider </strong></span>
                        </p>
                      </button>
                  </div>
                </div>
                <div class="columns is-gapless">
                  <div class="column is-one-third">
                    <div class="gold-checked">
                      <img src="assets/gold-check.svg"> &nbsp; <strong>Early access</strong>
                    </div>
                  </div>
                  <div class="column has-text-centered">
                    <div class="gold-checked">
                      <img src="assets/gold-check.svg"> &nbsp; <strong>Incentive program</strong>
                    </div>
                  </div>
                  <div class="column has-text-right">
                    <div class="gold-checked">
                      <img src="assets/gold-check.svg"> &nbsp; <strong>Great community</strong>
                    </div>
                  </div>
                </div>
                <button class="button is-large is-fullwidth is-link" disabled>Sign up now</button>
                <p class="terms">By clicking the “Sign up now” button, you agree with our <a href="/">Terms and Conditions</a> and <a href="/">Privacy Policy</a>, and Google’s <a href="/">Privacy Policy</a> and <a href="/">Terms of Service</a> in line with 
                    the reCAPTCHA protection.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <% include ../partials/footer %>
    </footer>

    <script type="text/javascript" src="lib/main.js"></script>
    <script type="text/javascript">
      var slider = document.getElementById("earn-range");
      slider.onchange = function(event) {
        var earning = document.getElementById("range-earnings");
        var prelaunch = document.getElementById("range-earnings-additional");
        var earning_total = document.getElementById("range-earnings-total");
        var item = document.querySelector('.range-labels li:nth-child(' + slider.value +')');
        
        document.querySelectorAll('.range-labels li.is-strong').forEach(function(list) {
          list.classList.remove('is-strong');
        })

        item.classList.add("is-strong");

        if (slider.value == 1) {
          earning.innerText = "₱528.00";
          
        } else if (slider.value == 2) {
          earning.innerText = "₱792.00";
          prelaunch.innerText = "+ ₱0.00";
          earning_total.innerText = "₱792.00";
        } else if (slider.value == 3) {
          earning.innerText = "₱1,056.00";
          prelaunch.innerText = "+ ₱0.00";
          earning_total.innerText = "₱1,056.00";
        } else if (slider.value == 4) {
          earning.innerText = "₱1,320.00";
          prelaunch.innerText = "+ ₱0.00";
          earning_total.innerText = "₱1,320.00";
        } else if (slider.value == 5) {
          earning.innerText = "₱1,604.00";
          prelaunch.innerText = "+ ₱200.00";
          earning_total.innerText = "₱1,804.00";
        } else if (slider.value == 6) {
          earning.innerText = "₱1,758.00";
          prelaunch.innerText = "+ ₱200.00";
          earning_total.innerText = "₱1,958.00";
        }

      }
    </script>
  </body>
</html>
