<!DOCTYPE html>
<html class="auth-page">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My first Bulma website</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body class="auth-page">
    <section class="hero header has-text-centered">
      <img src="assets/logo.svg" alt="Ride Sabay Logo" />
    </section>
    <div class="container">
      <div class="columns">
        <div class="column is-6-desktop is-offset-3-desktop has-text-centered">
          <div class="content">
            <h1 class="title is-spaced is-size-2">Welcome!</h1>
            <p class="subtitle is-size-4">
                We’re excited to see you here! Log in to view your <br />  dashboard and see your referral results!
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class="container card-spacing">
      <div class="columns is-centered">
        <div class="column is-4-desktop ">
          <div class="card">
            <div class="card-content">
              <p class="has-text-centered is-size-5 card-title">Enter mobile number to log in</p>
              <div class="field">
                <div class="field">
                    <label class="label">Mobile number</label>
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="09xxxxxxxxx">
                    </div>
                </div>
              </div>
              <button class="button is-large is-fullwidth is-link">Get SMS code</button>
            </div>
          </div>
          <div class="pre-footer has-text-centered ">
            <p class="is-size-6">
                Don’t have an account yet? <a href="#" class="is-link"> <strong>Click here to sign up. </strong></a>
            </p>
            <p class="recaptcha"> This site is protected by reCAPTCHA and the Google <br />
                    <a href="#"><strong>Privacy Policy</strong></a> and <a href="#"><strong>Terms of Service apply.</strong></a></p>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="lib/main.js"></script>
  </body>
</html>
