<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
  </head>
  <body class="auth-page">
    <% include ../partials/header-auth %>
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop has-text-centered">
          <div class="content">
            <h1 class="title is-spaced is-size-2">Done! Thank you, Tony.</h1>
            <p class="subtitle is-size-4">
                We’ll send you a message when we’re ready. In the meantime, please <br /> help us by answering the 1-minute survey below.
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class="container registration-success card-spacing">
        <div class="columns is-centered">
            <div class="column is-5-desktop">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <img src="assets/registration/success.svg" />
                        <p class="has-text-centered is-size-6">Help us create better products and services by <br /> answering the 1-minute survey below.</p> <br />
                        <button class="button is-fullwidth is-link">Answer survey</button> <br /> <br />
                        <a class="is-link"><strong>Go to dashboard</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="lib/main.js"></script>
  </body>
</html>
